# Supabase
SUPABASE_URL=https://gyoiepzkncnnmklyafvq.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5b2llcHprbmNubm1rbHlhZnZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwODgyMjYsImV4cCI6MjA4ODY2NDIyNn0.imqAHJza-UPacbJEFVoKikNtx_19AzrlgClG8yg2PFs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5b2llcHprbmNubm1rbHlhZnZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzA4ODIyNiwiZXhwIjoyMDg4NjY0MjI2fQ.ND7-6p4WWQuYaJr0PYazV8wluZK7N-jCf751M6WHSWs


# JWT
JWT_SECRET=Cy8zBMVHzpxyEtY3NSOdO/9x9xKuwzp/N+UWKlCnPhta9JhBVG5N4AYT4MnfrRD5ZNqkVPxZT65MFnN6r2ylg==


# Google Sheets (background sync only)
GOOGLE_SHEETS_SPREADSHEET_ID=your-spreadsheet-id
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"

# Server
PORT=3001
NODE_ENV=development
